body{
   background-color: antiquewhite;
}

#bot1{
    margin-left: 100px;
    height: 100px;
    width: 200px;

    
}

#bot2{
    margin-left: 100px;
    height: 100px;
    width: 200px;
    
    
}

#bot3{
    margin-left: 100px;
    height: 100px;
    width: 200px;
    
    
}
